html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*.book-image:hover {
    opacity: 0.6;
}*/

.details-link {
    background-color: white;
}

.details-link:hover {
    opacity: 0.9;
}

.btn-white {
    color: black;
    background-color: white;
}

.btn-white:hover {
    color: black;
    background-color: #DDD;
}