.details-link {
    background-color: black;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.details-link:hover {
    opacity: 0.8;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.footer-icon {
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.footer-icon:hover {
    color: white;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.btn-white {
    color: black;
    background-color: white;
    border-color: black;
    letter-spacing: 0.05em;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white.active {
    background: #DDD;
    color: black;
    border-color: black;
}

.book-image {
    transition: all 400ms;
}

.book-image:hover {
    opacity: 0.5;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}