@model int

<div class="row mt-4">
    <div class="col-12">
        <h1 class="text-warning">Order placed successfully!</h1>
        <p class="fs-4">Your order number is: <span class="text-success">@Model</span></p>
    </div>
</div>